<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <title>Joystick</title>
        <style>
            pre{
                background: #555;
                color: #5F5;
                padding: 30px;
            }
        </style>
    </head>

    <body>
        <pre id="gamepad-display"></pre>
        <script type=text/javascript src="{{ url_for('static', filename='test.js') }}"></script>
    </body>
</html>